* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan";
}

body {
  background: rgb(22, 22, 22);
}
/* HEADINGS */

h1,
p {
  color: rgb(240, 239, 239);
  text-align: start;
  line-height: 1.4;
}

h1 {
  font-size: 3rem;
}

h2 {
  color: rgb(177, 177, 177);
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
}

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(58, 58, 58, 1);
}

/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "Logo Buttons";
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  grid-area: "Logo";
  display: grid;
  height: 40px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}

.navbar ul {
  grid-area: "Buttons";
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
}

.nav-item a {
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: rgba(167, 255, 131, 1);
}



#Account
{
  
  padding: 7px 15px;
  background: transparent;
  border-radius: 10em;
  border: 1px solid #17b978;
}

#Account:hover{
  color: rgba(167, 255, 131, 1);
  border-color: rgba(167, 255, 131, 1);
  box-shadow: 0px 0px 28px 7px rgba(3, 26, 0, 0.33);
}

/* SECTIONS */

.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background-image: url(/img/Website-Games-Img/Sub-belowzerocove.jpg);

  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.features {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: rgb(68, 68, 68);
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.info-area-headline {
  display: grid;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title title . . ."
    "desc . . . ."
    "btn . . . .";
}

.text-area-headline-title {
  grid-area: title;
}
.text-area-headline-desc {
  grid-area: desc;
}

.headline-btn-area {
  grid-area: btn;
  display: grid;
  justify-content: start;
}

.headline-btn {
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 10px;
  background: #108355;
  border: none;
  color: whitesmoke;
  transition: all 0.3s ease-out;
}

.headline-btn:hover {
  background: #17b978;
}

.info-area-headline h1 {
  color: #118858;
}

.info-area-headline p {
  background: rgba(39, 39, 39, 0.445);
  border-radius: 10px;
}

/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 2px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  grid-area: toggle;
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.9rem;
  }

  /* MOBILE NAVIGATION */
  .navbar {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "Logo . toggle";
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    background-color: rgba(58, 58, 58, 1);
    width: 50%;
    height: calc(100vh - 55px);
    transform: translate(-100%);
    text-align: center;
    overflow: hidden;
  }

  .navbar img {
    height: 30px;
  }

  #Account{
    
    padding: 1px;
    border: none;
  }

  #Account:hover{
    color: rgba(167, 255, 131, 1);
    border-color: none;
    box-shadow: none;
  }

  #Login:hover {
    color: rgba(167, 255, 131, 1);
    border-color: none;
    box-shadow: none;
  }
  #Signup:hover {
    color: rgba(167, 255, 131, 1);
    border-color: none;
    box-shadow: none;
  }

  .navbar li {
    padding: 15px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle {
    display: grid;
    justify-content: end;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(100%) !important;
  }

  /* SECTIONS */

  .headline {
    height: 20vh;
  }

  .info-area-headline {
    grid-template-areas:
      "title title title title title"
      "desc desc desc desc ."
      "btn . . . .";
  }
}
