* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan";
}

/* HEADINGS */
body{
  background-color: rgb(22, 22, 22);
}

h1,
p {
  color: rgb(177, 177, 177);
  text-align: center;
  line-height: 1.4;
}

h1 {
  font-size: 2.2rem;
}

h2 {
  color: rgb(177, 177, 177);
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  margin-bottom: 10px;
}

/* BASIC SETUP */

.page-wrapper {
  width: 100%;
  height: auto;
  
}

.nav-wrapper {
  width: 100%;
  position: sticky;
  top: 0;
  background-color: rgba(58, 58, 58, 1);
  z-index: 2;
}
/*LOGIN/REGISTER*/
.hero {
  background: linear-gradient(rgba(243, 255, 249, 0.4),rgba(255, 243, 243, 0.4)) ,url('background.jpg');
  
  height: 100%;
  width: 100%;
  /* background: #1a17179a; */
  background-position: center;
  background-size: cover;
  position: absolute;
  background-repeat: no-repeat;
}
/*SOLVE H1 MERGE ISSUE
h1 {
    color: rgb(9, 10, 9);
}*/

.form-box{
  width: 380px;
  height: 480px;
  position: relative ;
  margin: 6% auto;
  background: rgba(236, 234, 234, 0.952);
  padding: 5px;
  border-radius: 5%;
  overflow: hidden;
}

.button-box {
  width: 220px;
  margin: 35px auto;
  top: 11%;
  position: relative;
  border: transparent;
  box-shadow: 0 0 20px 9px #15cf1e50;
  border-radius: 30px;
}

.toggle-btn {
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
  
}

#btn {
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: linear-gradient( #1bc07e,#09854721);
  border-radius: 30px;
  transition: .5s;
}

.input-group{
  top: 180px;
  position: absolute;
  left: 12%;
  width: 280px;
  transition: .5s;
}

.input-field {
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-left: 0;
  border-top: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
  
}
.submit-btn {
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: linear-gradient(#1bc07e,#09854721);
  border: 0;
  outline: none;
  border-radius: 30px;
  
}

.check-box {
  margin: 30px 10px 30px 0;
}

#sp{
  margin-left:150px;
  margin-top: 35px;
  
}

.check-box-text{
  color: #777;
  font-size: 12px;
  bottom: 68px;
  position: absolute;
}

#sp-text{
  width: 122px;
}
#login {
  left: 50px;
}
#register {
  left: 450px;
}
/* NAVIGATION */

.navbar {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "Logo Buttons";
  align-items: center;
  height: 50px;
  overflow: hidden;
}

.navbar img {
  grid-area: "Logo";
  display: grid;
  height: 40px;
  width: auto;
  justify-self: start;
  margin-left: 20px;
}

.navbar ul {
  grid-area: "Buttons";
  list-style: none;
  display: grid;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
}

.nav-item a {
  color: whitesmoke;
  font-size: 0.9rem;
  font-weight: 400;
  text-decoration: none;
  transition: color 0.3s ease-out;
}

.nav-item a:hover {
  color: rgba(167, 255, 131, 1);
}

#login-nav-btn, #logout-nav-btn
{
  
  justify-self: end;
  padding: 7px 15px;
  width: 100px;
  background: transparent;
  border-radius: 10em;
  border: 1px solid #17b978;
}

#login-nav-btn:hover, #logout-nav-btn:hover{
  color: rgba(167, 255, 131, 1);
  border-color: rgba(167, 255, 131, 1);
  box-shadow: 0px 0px 28px 7px rgba(3, 26, 0, 0.33);
}

#account-nav-btn, #cart-nav-btn {
  margin-top: 8px;
  display: block;
}


/* SECTIONS */

.slider-head
  {
    box-sizing: border-box;
  }
  section.slider-head video
  {
    top: -10px;
    Left: 0;
    width: 100%;
    
    object-fit: cover;
  }
 
  section.slider-head .thumbnails
  {
    
    position: relative;
    height: 50px;
    /* bottom: 50px; */
    Left: 50%;
    top: auto;
    bottom: 130px;
    transform: translatex(-50%);
    z-index: 1;
    display: flex;
    justify-content:center;
    align-items: center;
  }
  
  section.slider-head .thumbnails img
  {
    height: 150px;
    width: 240px;
  }

  section.slider-head .thumbnails li
  {
    list-style: none;
    cursor:pointer;
    margin:0 10px;
    border-radius: 4px;
    background: #fff;
    padding: 3px 3px 0;
    opacity: 0.4;
    transition: 0.5s;
  }
  section.sliger-head li img
  {
    width: 150px;
    transition: 0.5s;
  }

  section.slider-head .thumbnails li:hover {
   
    opacity: 1;
  }

  


.headline {
  width: 100%;
  height: 50vh;
  min-height: 350px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));

  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qsearch-area {
  width: 100%;
  height: 100px;
  background: rgb(22, 22, 22);
  display: flex;

  justify-content: center;
  border-bottom: 2px solid;
  border-image-source: radial-gradient(
    ellipse at center,
    rgba(140, 140, 140, 1) 0%,
    rgba(150, 150, 150, 0) 100%
  );
  border-image-slice: 1;
}

.sbuttons {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  justify-content: center;
  width: 25%;

  text-align: center;
  border-radius: 45px;
  background: #151515;
  box-shadow: inset 0 0 5px 5px rgba(0, 0, 0, 0.103);
}

.btn {
  cursor: pointer;
  background: #202020;
  color: rgba(236, 236, 236, 0.836);
  padding: 20px;
  transition: all 0.5s;
}

/* BUTTON ACTIVE EFFECT */
.btn.all p {
  color: rgba(236, 236, 236, 0.836);
  font-family: "Viga";
  font-size: 30px;
}
.btn.all {
  border-radius: 55px 0px 0px 55px;
  border-right: 2px solid rgba(128, 128, 128, 0.048);
}

.btn.pc {
  border-right: 2px solid rgba(128, 128, 128, 0.048);
  transition: all 0.5s;
}

.btn.all.active {
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.38);
  text-shadow: 0 0 10px #41414152, 0 0 20px #68686844, 0 0 30px #75757552;
}

.btn.pc.active {
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.38);
  text-shadow: 0 0 10px #880d0d, 0 0 20px #a30c0c, 0 0 30px #9b0d0d;
}

.btn.pc.active {
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.38);
  text-shadow: 0 0 10px #880d0d, 0 0 20px #a30c0c, 0 0 30px #9b0d0d;
}

.btn.xbox.active {
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.38);
  text-shadow: 0 0 10px #0f680c4b, 0 0 20px #0f790b73, 0 0 30px #107c0c5b;
}

.btn.ps.active {
  box-shadow: inset 0px 0px 22px 0px rgba(0, 0, 0, 0.38);
  text-shadow: 0 0 10px #1845db, 0 0 20px #1845db, 0 0 30px #1845db;
}

.btn.ps {
  border-radius: 0px 55px 55px 0px;
  border-left: 2px solid rgba(128, 128, 128, 0.048);
}

.features {
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  background: rgb(22, 22, 22);
  display: flex;
  padding: 50px 20px;
  justify-content: space-around;
}

.game {
  display: block;
  background: rgb(51, 51, 51);
  flex-basis: 250px;
  flex-shrink: 1;
  margin-top: 10px;
  border-radius: 10px 10px 10px 10px;
  border: 3px outset #808080;
  transition: 0.3s ease-out;
  cursor: pointer;
}

.game.pc.none {
  display: none;
}

.price {
  cursor: pointer;
  padding: 5px;
  border-radius: 10px 0px 7px 7px;
  border-top: 3px solid;
  border-top-color: #8080800e;
  background: transparent;
  transition: 0.3s ease-out;
  text-align: center;
  color: rgb(177, 177, 177);
}
/* PRICE HOVER EFFECT */
.price:hover {
  border-top-color: rgb(194, 194, 194);
  color: rgb(194, 194, 194);
}
.game.pc .price:hover {
  border-top-color: #880d0d;
  color: #c41313;
}
.game.xbox .price:hover {
  border-top-color: #0e8d34;
  color: #0e8d34;
}
.game.ps .price:hover {
  border-top-color: #1845db;
  color: #1845db;
}
/* GAME CARDS HOVER EFFECT */
.game:hover {
  box-shadow: 0px 0px 28px 7px rgba(0, 0, 0, 0.493);
  border-color: rgb(126, 126, 126);
}
.game.xbox:hover {
  box-shadow: 0px 0px 28px 7px rgba(0, 44, 24, 0.438);
}
.game.pc:hover {
  box-shadow: 0px 0px 28px 7px rgba(44, 0, 0, 0.432);
}
.game.ps:hover {
  box-shadow: 0px 0px 28px 7px rgba(0, 18, 44, 0.432);
}
/*IMAGE DEFAULT POSITION*/
.game img {
  width: 100%;

  margin-bottom: 15px;
  border-radius: 5px 5px 0px 0px;
}
/*ICONS DEFAULT POSITION*/
.icons {
  text-shadow: -1px 0 rgba(0, 0, 0, 0.404), 0 1px rgba(0, 0, 0, 0.233),
    1px 0 rgba(0, 0, 0, 0.315), 0 -1px rgba(0, 0, 0, 0.247);
  border-radius: 10px 10px 0px 0px;
  border-top: 3px solid;
  border-top-color: #80808009;
  display: grid;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "pc xbox ps";
}

/*GAME CARDS & GAME IMG BORDERS*/

.game.pc {
  border: 3px outset #880d0d;
}

.game.xbox {
  border: 3px outset #0e8d34;
}

.game.ps {
  border: 3px outset #1845db;
}

.game.pc-xbox-ps img {
  border-bottom: 3px outset;
  border-bottom-color: #808080;
}

.game.pc img {
  border-bottom: 3px outset;
  border-bottom-color: #880d0d;
}

.game.xbox img {
  border-bottom: 3px outset;
  border-bottom-color: #17b948;
}

.game.ps img {
  border-bottom: 3px outset;
  border-bottom-color: #1845db;
}

/*ICONS COLOR*/

.pcicon {
  grid-area: "pc";
  color: #880d0d;
}
.xboxicon {
  grid-area: "xbox";
  text-shadow: none;
  color: #006b20;
}
.psicon {
  grid-area: "ps";
  color: #1845db;
}
/*SPECIFIC ICONS POSITION*/
.game.pc .icons {
  grid-template-columns: 1fr;
  grid-template-areas: "pc";
}

.game.xbox .icons {
  grid-template-columns: 1fr;
  grid-template-areas: "xbox";
}

.game.ps .icons {
  grid-template-columns: 1fr;
  grid-template-areas: "ps";
}

/*USER PAGE*/
.container-user-info{
  user-select: none;
  margin: 100px auto;
  background: #2b2a2a;
  border-radius: 5px;
  width: 350px;
  text-align: center;
  box-shadow: 0 10px 20px -10px rgba(0,0,0,.75);
}
.cover-photo-user{
  background:linear-gradient(45deg, #0a02058a 0%,#17b9788f 100%),url('background.jpg');
  background-size: cover;
  height: 160px;
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.profile-image{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 93px 0 0 -175px;
  border: 8px solid #2b2a2a;
  padding: 7px;
  background:radial-gradient(ellipse at center, #325f4bc5 0%,#17b978 100%);;
}
.profile-name-user{
  font-size: 25px;
  font-weight: bold;
  margin: 27px 0 0 120px;
}
.about-user-text{
  margin-top: 35px;
  line-height: 21px;
}
.container-user-info button{
  margin: 10px 0 40px 0;
}

.change-user-info-btn{
  
  padding: 10px 25px;
  
  border-radius: 5px;
  border: 1px solid #17b978;
  cursor: pointer;
  margin-left: 10px;
  background: transparent;
  color: #16b877ce;
}
.change-user-info-btn:hover{
  color: #010800;
  background: #17b978;
  transition: .5s;
}
/*Form User-Edit-info*/
.form-styling-user{
  
  width: 100%;
  height: 35px;
	padding-left: 15px;
	border: none;
	border-radius: 20px;
  margin-bottom: 10px;
  background: rgba(255,255,255,.2);
}
.form-user label.tbUserEdit{
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top:30px;
  color: rgba(255,255,255,.7);
  display: block;
}

.form-user input{
  color: #ffffff;
  font-size: 13px;
  width: 80%;
}

.form-user input:focus{
  background: rgba(255,255,255,.3);
    border: none; 
    padding-right: 40px;
    transition: all .5s ease;
}


#save-user-info-btn{
  
  padding: 10px 25px;
  width: 110px;
  border-radius: 5px;
  border: 1px solid #17b978;
  cursor: pointer;
  margin-left: 10px;
  background: transparent;
  color: #16b877ce;
}
#save-user-info-btn:hover{
  color: #010800;
  background: #17b978;
  transition: .5s;
}
.rbUserEdit{
  color: #dfdfdf;
  display: block;
  position: relative;
  padding-left: 18px;
  margin-bottom: 12px;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rbUserEdit input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.rbText{
  position: relative;
  top:5px;
}

.checkmark {
  position: absolute;
  top: 0px;
  left: 120px;
  height: 25px;
  width: 25px;
  background-color:rgba(97, 97, 97, 0.7);
  border-radius: 50%;
}

.rbUserEdit:hover input ~ .checkmark {
  background-color: #17b978;
}

.rbUserEdit input:checked ~ .checkmark {
  background-color:rgba(255,255,255,.3);
}

/* Create the indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator when checked */
.rbUserEdit input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator */
.rbUserEdit .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #17b978;
}

#uform{
  display: none;
}
/*Hide user info*/
.about-user-text.hide{
  display: none;
}
.change-user-info-btn.hide{
  display: none;
}
.profile-name-user.hide{
  display: none;
}
/*Hide user-edit-info-form*/
#uform.show{
display: block;
}
/* MOBILE MENU & ANIMATION */

.menu-toggle .bar {
  width: 25px;
  height: 3px;
  background-color: whitesmoke;
  margin: 2px auto;
  transition: all 0.3s ease-in-out;
}

.menu-toggle {
  grid-area: toggle;
  justify-self: end;
  margin-right: 25px;
  display: none;
}

.menu-toggle:hover {
  cursor: pointer;
}

#mobile-menu.is-active .bar:nth-child(2) {
  opacity: 0;
}

#mobile-menu.is-active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

#mobile-menu.is-active .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}

/* Media Queries */

/* Mobile Devices - Phones/Tablets */

@media only screen and (max-width: 720px) {
  .features {
    flex-direction: column;
    align-items: center;
    padding: 50px;
  }

  /* MOBILE HEADINGS */

  h1 {
    font-size: 1.9rem;
  }

  h2 {
    font-size: 1rem;
  }

  p {
    font-size: 0.8rem;
  }

  /* MOBILE NAVIGATION */
  .navbar {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: "Logo . toggle";
    
  }
  .navbar ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    justify-content: start;
    top: 50px;
    background-color: rgba(58, 58, 58, 1);
    width: 50%;
    height: calc(100vh - 55px);
    transform: translate(-100%);

    overflow: hidden;
  }

  .navbar img {
    height: 30px;
  }

  #login-nav-btn, #logout-nav-btn{
    width: 219px;
    height: 50px;
    padding: 1px;
    border: none;
    padding: 15px;
  }

  #login-nav-btn:hover, #logout-nav-btn:hover{
    color: rgba(167, 255, 131, 1);
    border-color: none;
    box-shadow: none;
    
  }

  

  .navbar li {
    padding: 15px;
  }

  .navbar li a {
    font-size: 1rem;
  }

  .menu-toggle {
    display: grid;
    justify-content: end;
    cursor: pointer;
  }

  .mobile-nav {
    transform: translate(100%) !important;
    z-index: 2;
  }
  /* LOGIN/REGISTER */
  
  /* SECTIONS */

  section.slider-head .thumbnails img
  {
    height: 45px;
    width: 80px;
    
    
  }

  section.slider-head .thumbnails
  {
    bottom: 70px !important;
  }

  .sbuttons {
    background: transparent;
  }

  .headline {
    height: 20vh;
  }

  .game {
    width: 270px;
    margin-top: 20px;
  }

  .game:nth-child(2) {
    order: -1;
  }
}
