<div class="game pc-xbox-ps">
    <img src="img/Website-Games-Img/DeadByDaylight.jpg" />
    <h2>Dead By Daylight</h2>
    <div class="icons">
      <span class="pcicon">
        <i class="fas fa-desktop fa-2x"></i>
      </span>
      <span class="xboxicon">
        <i class="fab fa-xbox fa-2x"></i>
      </span>
      <span class="psicon">
        <i class="fab fa-playstation fa-2x"></i>
      </span>
    </div>
    <div class="price">Price:00.00€</div>
  </div>

  <div class="game pc-xbox-ps">
    <img src="img/Website-Games-Img/destiny.jpg" />
    <h2>Destiny 2</h2>
    <div class="icons">
      <span class="pcicon">
        <i class="fas fa-desktop fa-2x"></i>
      </span>
      <span class="xboxicon">
        <i class="fab fa-xbox fa-2x"></i>
      </span>
      <span class="psicon">
        <i class="fab fa-playstation fa-2x"></i>
      </span>
    </div>
    <div class="price">Price:00.00€</div>
  </div>

  <div class="game xbox">
    <img src="img/Website-Games-Img/Halo-xbox.png" />
    <h2>Halo 5</h2>
    <div class="icons">
      <span class="xboxicon">
        <i class="fab fa-xbox fa-2x"></i>
      </span>
    </div>
    <div class="price">Price:00.00€</div>
  </div>

  <div class="game pc">
    <img src="img/Website-Games-Img/sub.jpg" />
    <h2>Subnautica:Below Zero</h2>
    <div class="icons">
      <span class="pcicon">
        <i class="fas fa-desktop fa-2x"></i>
      </span>
    </div>
    <div class="price">Price:00.00€</div>
  </div>

  <div class="game ps">
    <img src="img/Website-Games-Img/Thelastofus-ps.png" />
    <h2>The Last Of Us</h2>
    <div class="icons">
      <span class="psicon">
        <i class="fab fa-playstation fa-2x"></i>
      </span>
    </div>
    <div class="price">Price:00.00€</div>
  </div>